@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500&display=swap');

*{
    margin:  0;
    padding: 0;
}

body{
    color: #ECECF3;
    background-color: #181818;
    font-family: 'Red Hat Mono', monospace;
}